<footer>
  <div class="container">
    <section>
      <p><i class="fa fa-copyright"></i> 2015 CLECert</p>
    </section>
  </div>
</footer>

<!-- Scripts -->
<script src="{{ '/vendor/jquery/dist/jquery.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/vendor/bootstrap-sass/assets/javascripts/bootstrap.min.js' | prepend: site.baseurl }}"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="{{ '/vendor/datamaps/dist/datamaps.usa.min.js' | prepend: site.baseurl }}"></script>

<script src="{{ '/js/site.js' | prepend: site.baseurl }}"></script>
