// Global Site Styles //

@import "global-variables";
@import "typography";

/* Basic styling */
html {
  height: 100%;
}

body {
  cursor: default;
}


/* Header */

.navbar {
  border-radius: 0;
  margin-bottom: 0;

  background-color: white;

  color: $primaryColor;

  a {
    color: inherit;
  }
}


/* Home page */

$circleVideoSize: 200px; // temporary since we are using big buck bunny, which is not 1x1

body.home {
  height: 100%;
}

body.home > .cover {
  height: 100%;

  background-image: url('../images/conference.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .container {
    padding-top: 200px;

    color: white;
    text-align: center;

    h2 {
      margin-bottom: 50px;

      font-size: 2.5em;
    }

    .step-preview {
      @extend .col-sm-4;

      .circle-video {
        margin: 0 auto;

        border-radius: $circleVideoSize / 2;

        width: $circleVideoSize;
        height: $circleVideoSize;

        -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
      }

      video {
        position: absolute;
        top: 0;
        left: 0;
        width: 2 * $circleVideoSize;
      }
    }
  }
}

/* Footer */

footer > .container > section {
  @extend .col-xs-12;

  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  padding-top: 15px;
  padding-bottom: 15px;

  background-color: $secondaryColor;
}
